@typeparam TItem

@if (Title != null)
{
    <div>
        <h4 style="text-align:center">@Title</h4>
    </div>
}

<div @ref="elementRef" id="@elementId"></div>
<CascadingValue Value="this">
    @ChildContent
</CascadingValue>